@font-face {
    font-family: 'ragnar';
    src: url('assets/fonts/Ragnarok.ttf');
    font-weight: 200;
}
.reveal{
    position: relative;
    transform: translateY(200px);
    opacity: 0;
    transition: all 2s ease;
}
.act{
    transform: translateY(0px);
    opacity: 1;
}
.one{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('assets/ragnar8.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(7,1fr);
}
.two{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('assets/axe2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(7,1fr);
}
.three{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('assets/ach2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.four{
    height: 100vh;
    background: url('assets/gal_bac1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#one, #two, #three, #four{
    height: 80px;
    width: 100%;
}
#one1{
    grid-row: 6/-1;
    grid-column: 3/-1;
    height: auto;
    width: 100%;
}
#one1 .h1{
    font-family: ragnar;
    background: -webkit-linear-gradient(rgb(255, 254, 254), #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
    animation: transitionIn 2s;
    transition: all 2s ease;
}
.topHead{
    opacity: 0;
    transform: rotateX(-10deg);
    transition: all 2s ease;
}
@keyframes transitionIn {
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0deg);
    }

}
#two2{
    grid-row: 2/-1;
    grid-column: 2/7;
    height: auto;
    width: 100%;
}
#two2 .cont{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
.box{
    position: relative;
    width: 1100px;
    height: 325px;
    background: rgb(204, 255, 255);
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    border-radius: 10px;
}
.cont .box .im{
    position: relative;
    width: 300px;
    height: 400px;
    top: -60px;
    left: 20px;
}
.cont .box .im img{
    width: 300px;
    height: 400px;
    border-radius: 10px;
}
.cont .box .im1{
    position: relative;
    display: none;
}
.cont .box .tx{
    font-weight: 600;
    font-size: 1em;
    position: relative;
    padding: 10px 15px;
    color: #111;
}
.cont .box .tx h1{
    font-family: ragnar;
}
#three3{
    display: grid;
    grid-template-rows: repeat(8,1fr);
    grid-template-columns: repeat(9,1fr);
    height: auto;
    width: 100%;
}
.box1{
    display: grid;
    grid-template-rows: 740,aut0;
}
#three3 .cont1{
    grid-row: 4/8;
    grid-column: 3/8;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
.box1{
    position: relative;
    width: 1100px;
    height: 325px;
    background:rgb(75, 75, 75);
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    border-radius: 10px;
}
.cont1 .box1 .im2{
    position: relative;
    display: none;
}
.cont1 .box1 .im1{
    position: relative;
    width: 300px;
    height: 400px;
    top: -60px;
    left: 20px;
}
.cont1 .box1 .im1 img{
    width: 300px;
    height: 400px;
    border-radius: 10px;
}
.cont1 .box1 .tx1{
    position: relative;
    padding: 10px 15px;
    color: white;
    font-weight: 600;
    transition: 0.4s ease-in-out;
}
.cont1 .box1 .tx1 h1{
    font-family: ragnar;
}
#four4{
    height: auto;
    width: 100%;
}
/*.con .bo:hover .t{
    font-size: 15px;
    visibility: visible;
    opacity: 1;
    margin-top: 10px;
    transition-delay: 0.2s;
}*/
.middle{
    position: relative;
    transform-style: preserve-3d;
    top: 50%;
    left: 10%;
    transition: all 2s ease;
}
.con{
    height: 850px;
    width: 468px;
}
.front,.back{
    font-size: 15px;
    backface-visibility: hidden;
    overflow: hidden;
    position: absolute;
}
.front img{
    height: 850px;
    width: 468px;
    border-radius: 20px;
}

.back{
    width: 100%;
    height: 100%;
    padding: 10px;
    font-family: 'KoHo', sans-serif;
    border-radius: 20px;
    color: aliceblue;
    background: rgb(37, 37, 37);
    transform: rotateY(180deg);
}
.gottam{
    transform: rotateY(180deg);
}
@media (max-width: 858px)
  {
    label.logo{
        font-size: 22px;
        padding-left: 50px;
      }
    #one1 .h1{
        font-size: 30px;
        grid-column: 2/-1;
    }
    .con{
        width: 330px;
    }
    .front img{
        width: 330px;
    }
    #two2{
        grid-row: 1/-1;
        grid-column: 1/-1;
    }
    #two2 .cont{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px;
    }
    .box{
        position: relative;
        max-width: 300px;
        height: 325px;
        background: #fff;
        margin: 30px 10px;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        transition-property: height;
        transition: all 2s ease;
    }
    .gottam1{
        height: 637px !important;
    }
    .cont .box .im{
        display: none;
    }
    .cont .box .im1{
        display: block;
        position: relative;
        width: 60%;
        height: 80%;
        top: -60px;
        left: 50px;
        box-shadow: 0 5px 20px rgbs(0,0,0,0.2);
    }
    .cont .box .im1 img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .cont .box .tx{
        position: relative;
        top: -50px;
        padding: 10px 15px;
        color: #111;
        margin-top: 10px;
        visibility: hidden;
        opacity: 0;
        transition: all 2s ease;
    }
    .cont .box .tx p{
        font-size: 13px;
    }
    .gottam2{
        visibility: visible !important;
        opacity: 1 !important;
        margin-top: 10px;
    }
    #three3 .cont1{
        grid-row: 1/4;
        grid-column: 3/8;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px;
    }
    .box1{
        position: relative;
        top: -20px;
        max-width: 300px;
        height: 325px;
        background: #fff;
        margin: 30px 10px;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        transition-property: height;
        transition: all 2s ease;
    }
    .pipe{
        height: 800px !important;
    }
    .cont1 .box1 .im1{
        display: none;
    }
    .cont1 .box1 .im2{
        display: block;
        position: relative;
        width: 100%;
        height: 45%;
        top: -60px;
        left: 10px;
        box-shadow: 0 5px 20px rgbs(0,0,0,0.2);
    }
    .cont1 .box1 .im2 img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .cont1 .box1 .tx1{
        position: relative;
        padding: 10px 15px;
        color: #111;
        margin-top: 10px;
        font-size: 15px;
        visibility: hidden;
        opacity: 0;
        transition: all 2s ease;
    }
    .cont1 .box1 .tx1 h1{
        font-family: ragnar;
    }
    .pipe2{
        visibility: visible !important;
        opacity: 1 !important;
        margin-top: 10px;
    }
}
